@model IEnumerable<NetMVC.Models.Khachhang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdKh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClothes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameKh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneKh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchasedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClothes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchasedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
